API_PORT=3001
API_BASE_URL=http://localhost:3001
APP_BASE_URL=http://localhost:3000
REPOSITORY_PROVIDER=memory
DEV_LOGIN_DISCORD_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3001/auth/discord/callback
DISCORD_SCOPES=identify guilds
DISCORD_BOT_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ALBION_API_BASE_URL=https://gameinfo-ams.albiononline.com/api/gameinfo
ALBION_BATTLES_SOURCE=official
ALBION_BATTLES_GUILD_ID=
ALBION_BATTLES_GUILD_NAME=The Hundred
ALBION_BATTLES_MIN_GUILD_PLAYERS=20
ALBION_BATTLES_LIMIT=12

# Para AlbionBB:
# ALBION_BATTLES_SOURCE=albionbb
# ALBION_API_BASE_URL=http://api.albionbb.com/eu
