API_PORT=3001
APP_BASE_URL=http://localhost:3000
REPOSITORY_PROVIDER=memory
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3001/auth/discord/callback
DISCORD_SCOPES=identify guilds
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=
DISCORD_CALLER_ROLE_IDS=1479173827782250596
DISCORD_BOTTLED_ENERGY_CHANNEL_ID=1480132173305614437
DISCORD_CTA_CHANNEL_ID=1479171967788515491
BOTTLED_ENERGY_EXCLUDED_DISCORD_IDS=
BOTTLED_ENERGY_EXCLUDED_ALBION_NAMES=
